body {
    background-color: lightsteelblue;
    }
    .krasa {
        color:azure;
    }

    .izmers{
        width: 800px;
        margin-left: 
        margin-right
    }

    #fonts{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .burti{
        font-size:large
    }